@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@600&display=swap');


:root{
    --corxgo1: #8000f8;
    --corxgo2: #5e17eb;
    --gradient: linear-gradient(36deg, rgba(128,0,248,1) 66%, rgba(244,63,145,1) 100%);
    --fontexgo: 'SemiBold 600', arial, serif;
}
body, html{
    font-family: var(--fontexgo);
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}
header:after, .row:after{
    content: ' ';
    display: block;
    clear: both;
}
span{
    font-weight: bold;
    color: var(--corxgo1);
}

header img{
    width: 300px;
    height: 70px;
    display: flex;
    margin: auto;
    margin-top: 1em;
    
}
header nav{
    background-color: var(--corxgo1);
    text-align: center;
    padding: 20px 0px;
    box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.308);
    
}
header nav ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
header nav ul li a{
    text-decoration: none;
    color: white;
    padding: 1em;
    display: block;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;

}
header nav ul li a:hover{
    background-color: var(--corxgo2);
}

.bannerflex{
    padding: 1.5em;
    text-align: center;
    background-color: rgba(206, 206, 206, 0.534);
    
}
.traço-traço{
    background-color: rgba(206, 206, 206, 0.534);
}
.traço{
    width: 400px;
    height: -1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.308);
    margin: auto;
    
    
}
.bannerflex img{
    width: 300px;
    height: 350px;
    border-radius: 50px;
}
.bannerflex h1{
    font-size: 2em;
    
}
.bannerflex h2{
    font-size: 1.5em;
    margin: 1em;
}
.bannerflex a{
    color: white;
    background-color: var(--corxgo1);
    font-size: 1em;
    padding: 0.7em 2em;
    margin: 1em;
    text-decoration: none;
    border-radius: 50px;
    display: inline-block;
    font-weight: bold;
    border: 1px solid var(--corxgo1);
    
    
}
.bannerflex a:hover{
    background-color: white;
    border: 1px solid var(--corxgo1);
    color: var(--corxgo1);
    font-weight: bold;
}
main h2{
    margin: 50px 0px 50px 0px;
    font-size: 1.7em;
    color: var(--corxgo1);
    text-shadow: 0px 0px 1px black;
}
main h3{
    margin: 10px 0px 10px 0px;
    font-size: 1.2em;
    color: var(--corxgo1);
    text-shadow: 0px 0px 1px black;
}
main article{
    margin-bottom: 50px;
}
main .container1{
    padding: 2em;
    text-align: center;
    background-color: rgba(206, 206, 206, 0.534);
    line-height: 1.5em;
    font-size: 1.2em;
    
}
main .container1 h2{
    margin: 10px 0px 60px 0px;
}
main .container1 .ultimoart{
    margin-bottom: 10px;
    
}

main .container2{
    padding: 0.1em 2em;
    text-align: center;
    background-color: rgba(206, 206, 206, 0.534);
    line-height: 1.5em;
    font-size: 1.2em;
}
main .container2 h2{
    margin-bottom: 2em;
}
main .container2 a{
    color: var(--corxgo1);
    text-decoration: none;
    font-size: 1.1em;
}
main .container2 a img{
    width: 400px;
    border: 1px solid black;
    transition-duration: 0.5s;
    
}
main .container2 a img:hover{
    transform: scale(1.1);
    
}
main .container2 a:hover{
    text-decoration: underline;
    
}
main .container2 a p{
    margin-top: 5px;
    margin-bottom: 50px;
}
main .container3{
    padding: 0.1em 2em;
    text-align: center;
    background-color: rgba(206, 206, 206, 0.534);
    line-height: 1.5em;
    font-size: 1.2em;
}
main .container3 .cursando{
    list-style-type: none;
}
main .container3 ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    
}
main .container3 ul li a:hover{
    color: var(--corxgo1);
}
main .container3 .cursos{
    text-align: left;
}
.bot-home{
    text-decoration: none;
    display: flex;
    justify-content: center;
}
.bot-home p{
    
    color: white;
    background-image: var(--gradient);
    padding: 10px;
    border-radius: 20px;
    transition-duration: 1s;
    width: 200px;
}

.bot-home p:hover{
    transform: scale(1.2);
}
.PC{
    margin-bottom: 30px;
}
.PC img{
    width: 400px;
    border: 3px solid var(--corxgo1);
    border-radius: 20px;
}
footer{
    background-color: black;
    margin: 0px;
    border-bottom: 1px solid black;
    box-shadow: 0px -2px 8px 0px rgba(0, 0, 0, 0.404);

}
footer h3{
    margin: 0em;
    padding: 10px 0px 10px 0px;
    text-align: center;
    font-size: 1.3em;
    color: white;
    background-color: var(--corxgo1);
}
footer .redesocial{
    display: flex;
    justify-content: center;
    
}
footer .redesocial a{
    margin: 10px 10px 0px 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
footer .redesocial a:hover{
    color: var(--corxgo1);
    font-weight: bold;

}
footer .redesocial a img{
    width: 60px;
}

footer .redesocial a p{
    margin-top: 5px;
    
}
footer .autor{
    display: flex;
    justify-content: center;
    background-color: var(--corxgo1);
    color: white;
}
footer .autor span{
    color: white;
    text-shadow: var(--corxgo2) 1px 1px 1px;
}
@media screen and (min-width: 780px){
    .traço{
        width: 700px;
    }
    .banner{
        background-image: url(imagens/bg_topo_1600x1374.jpg);
        width: 100%;
        height: 80vh;
        background-repeat: no-repeat;
        margin-bottom: 0px;
        padding-bottom: 0px;
        box-shadow: inset 0px 0px 10px 1px black;
        background-attachment: fixed;
    }

    main h3{
        font-size: 1.3em;
    }
    main .container2 a{
        font-size: 1.2em;
    }
    main .container2 a img{
        width: 550px; 
    }
    .col-1-4{
        width: 40%;
        margin: 3%;
        float: left;
        
    }
    main .container2 a{
        margin: 5px 20px 5px 5px;
    }
    main .container2 a img{
        width: 300px;
         
    }
    main .container2 a p{
        text-align: center;
    }

    
}
@media screen and (min-width: 1200px){
    .traço{
        width: 1100px;
    }
    .banner{
        background-image: url(imagens/bg_topo_1600x1374.jpg);
        width: 100%;
        height: 80vh;
        background-repeat: no-repeat;
        margin-bottom: 0px;
        padding-bottom: 0px;
        box-shadow: inset 0px 0px 10px 1px black;
        background-attachment: fixed;
    }
    header .logo{
        float: left;
        margin-left: 60px;
    }
    header nav{
        background: transparent;
        float: right;
        box-shadow: 0px 0px 0px transparent;
        margin: 36px 15px 0px 0px;
        padding: 0px;
        
    }
    header nav ul{
        margin: 0px;
        padding: 0px;
    }
    header nav ul li{
        display: inline-block;
    }
    header nav ul li a{
        color: var(--corxgo1);
        text-shadow: 0px 0px 0px var(--corxgo1);
        font-weight: bold;
    }
    header nav ul li a:hover{
        color: white;
    }
    .bannerflex{
        display: flex;
        justify-content: center;
        padding: 24px 0px;
        

    }
    .bannerflex .perfil-img{
        margin-right: 80px;
    }
    .bannerflex .nome-txt{
        margin-left: 80px;
        font-size: 20px;
    }
    .col-1-4{
        width: 23%;
        margin: 1%;
    }
    .col-1-4 p{
        text-align: justify;
    }

    .cursosflex{
        display: flex;
        justify-content: space-around;
    }
    .cursosflex .cursando{
        text-align: left;
        margin-right: 20px;
        padding: 0px;

    }
    main .container2 a{
        margin: 5px 20px 5px 5px;
    }
    main .container2 a img{
        width: 300px;
         
    }
    main .container2 a p{
        text-align: center;
    }
    .PC img{
        width: 500px;
    }
}